<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bandwidth.adhiksh">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.AuthorityPanel">


        </activity>
        <activity android:name=".views.map"></activity>
        <activity android:name=".Activities.Otp" />
        <activity android:name=".Activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".views.ComplaintDetails" />
        <activity android:name=".views.NocDetails" />
        <activity android:name=".Activities.AppointmentDetails" />
        <activity android:name=".views.FirDetails" />
        <activity
            android:name=".Activities.AuthorityHomepage"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activities.FormSubmission" />
        <activity android:name=".views.CitizenHomepage" />
        <activity android:name=".Activities.AuthorityHome" />
        <activity android:name=".views.FirForm2" />
        <activity android:name=".views.FirForm" />
        <activity android:name=".views.ComplaintForm" />
        <activity android:name=".views.AppointmentForm" />
        <activity android:name=".views.NOCForm" />
        <activity android:name=".Activities.SignUp" />
        <activity android:name=".Activities.MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdtIgz27SD0l7A05Nu9J_8BzninjaCuyM" />
    </application>

</manifest>